{
  "type": "service_account",
  "project_id": "projectid",
  "private_key_id": "privatekeyid",
  "private_key": "privatekey",
  "client_email": "clientemail",
  "client_id": "clientid",
  "auth_uri": "authurl",
  "token_uri": "tokenurl",
  "auth_provider_x509_cert_url": "authprovidercerturl",
  "client_x509_cert_url": "clientcerturl"
}
